<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>				
        <!-- LOG -->
        <RollingFile name="LogFile" fileName="C:\Users\Alberto\OneDrive\Documentos\GitHub\ProyectoWebC-S\DISENOWEB/log/LogBD.log"
                             filePattern="/log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.logBd.gz">
            <PatternLayout
                pattern="%n%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-30l %logger{36} ### %msg"
                header="-- LOG APLICACION --" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>		
        <!-- LOGDB -->
        <RollingFile name="LogFileDB" fileName="C:\Users\Alberto\OneDrive\Documentos\GitHub\ProyectoWebC-S\DISENOWEB/log/LogBD.log"
                             filePattern="/log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.logBd.gz">
            <PatternLayout
                pattern="%n%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-30l %logger{36} ### %msg"
                header="-- LOG BASE DE DATOS --" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>			    
    </Appenders>
    <Loggers>
        <!-- LOG -->
        <Logger name="log" additivity="FALSE" level="INFO">
            <AppenderRef ref="LogFile"/>
        </Logger>
        <!-- LOGDB -->
        <Logger name="logdb" additivity="FALSE" level="INFO">
            <AppenderRef ref="LogFileDB"/>
        </Logger>	    
    </Loggers>
</Configuration>
<root>
    
</root>
