body,html{
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: #AFEEEE !important;
}

.user_card{
    height: 370px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #D3D3D3;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
}

.brand_logo_container{
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #bd043b;
    padding: 10px;
    text-align: center;
}

.brand_logo{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.login_btn{
	position: relative;
	border-radius: 6px;
	text-align: center;
	width: 100%;
	overflow: hidden;
	color: white;
	cursor: pointer;
	text-decoration: none;
	transition: all ease 0.5s;
	background: #bd043b;
}

.form_container{
    margin-top: 100px;
}

.login_container{
    padding: 0 2rem;
}

.input-group-text{
    background: #bd043b;
    color: black;
    border: 0;
    border-radius: 0.25rem 0 0 0.25rem;
}

.input_user:focus,
.input_pass:focus,
.login_btn:focus{
    box-shadow: none;
    outline: 0px;
}

/* ANIMACION DEL BOTON LOGIN*/
.login_btn:after,
.login_btn:before{
    width: 30px;
    height: 210px;
    content: '';
    display: block;
    background: rgba(255,255,255,0.7);
    transform: rotate(45deg);
    top: -60px;
    position: absolute;
    transition: none;
    right:-45%;
    cursor: pointer;
}
.login_btn:before{left: -48%;}
.login_btn:hover{text-shadow: 0 1px 1px rgba(0,0,0,0.5);background:#D80041;color: wheat;}
.login_btn:hover:after,
.login_btn:hover:before{transform: rotate(45deg), scaleX(130%);background: rgba(255,255,255,0.1);transition: all ease 0.5s;}
.login_btn:hover:after{right: 130%;}
.login_btn:hover:before{left: 130%;}

